*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: radial-gradient(#fff, rgb(208, 219, 219));
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  overflow-x: hidden;
}

nav h1 {
  font-size: calc(28px + 2vmin);
  font-weight: 300;
}

.scroller {
  width: 90vw;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.scroller-podcasts {
  display: flex;
  height: 100%;
  width: 100%;
}

.scroller-podcast {
  height: 100%;
  width: auto;
}

.scroller-podcast-image {
  height: 100%;
  object-fit: contain;
}

.scroller-podcast img {
  height: 100%;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
