*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #ffffff;
}

#root {
  height: 100%;
  --primary-font: "Montserrat";
  --text-font: "Righteous";
  --gray-text: #505050;
  --gray-background: #eeecec;
  --orange: #f7bb4d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: Montserrat;
  scroll-behavior: smooth;
  background: radial-gradient(white, var(--gray-background));
}

.app-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
}

.app-title {
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgb(0, 0, 0);
  border-bottom: 1px solid rgba(204, 182, 182, 0.774);
  background: #fff;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  border-radius: 5px;
}

textarea {
  outline: none;
  font-family: Montserrat;
}

input[type="submit"],
button {
  cursor: pointer;
}

.auth-forms-container {
  height: calc(100% - 3.5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-forms {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 550px;
  background: var(--gray-background);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.user-icon-container {
  margin-right: 40px;
}

.auth-form {
  font-size: 1.3rem;
  text-align: left;
  color: var(--gray-text);
}

.auth-form h2 {
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 5px;
  margin: 5px auto;
  font-size: 1.1rem;
  outline: none;
  border: 2px solid var(--gray-background);
  background: white;
  transition: 0.5s ease-in-out;
}
.auth-form input:focus {
  border: 2px solid var(--gray-text);
}

.auth-form input[type="submit"] {
  margin: 15px 0;
  background: #aaaaaa;
  color: white;
  width: 50%;
  font-weight: 800;
}

.form-switch-bttn {
  color: var(--gray-text);
  font-size: 1.1rem;
  border: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.wave {
  z-index: 2;
  margin: 0 5px;
  width: 5px;
  height: 100px;
  border-radius: 30%;
  background: linear-gradient(-90deg, navy, #7ea7ffe3, navy);
  box-shadow: 0px 0px 4px #000000;
}

.home {
  position: relative;
  display: flex;
  height: calc(100vh - (3.5rem));
  overflow-y: scroll;
}

.nav-container {
  position: fixed;
  top: calc(3.5rem);
  left: 0;
  width: 100%;
  height: calc(100% - (3.5rem));
  max-width: 300px;
  background: var(--gray-background);
  color: var(--gray-text);
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 2px 12px black;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  transition: 0.5s ease;
}
.nav-container.closed {
  left: -100%;
}
.nav-container.open {
  left: 0;
}

.nav-section {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray-text);
}

.nav-container h2 {
  font-weight: 400;
  font-size: 2.2rem;
}

.nav-list {
  margin-top: 1rem;
}

.nav-list li {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: var(--primary-font);
  transition: 0.2s;
}

.nav-list li:hover {
  transform: scale(1.1);
  transform-origin: 0;
  color: #000;
}

.podcast-preview-tiles {
  margin: 0 auto 1rem auto;
  padding-bottom: 1rem;
  width: calc(100% - 16px);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  overflow-y: auto;
  grid-gap: 10px;
}

.podcast-preview {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.podcast-preview-image {
  width: 100%;
  height: 100%;
}

.podcast-preview img {
  width: 100%;
  height: auto;
}

.podcast-preview-info {
  font-size: 0.6rem;
}

.podcast {
  padding: 2rem;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
  overflow-y: auto;
}

.podcast-title-grid {
  display: grid;
  justify-content: center;
  column-gap: 20px;
  grid-template-areas:
    "image title title title"
    "image description description description";
}

.podcast-title-image {
  grid-area: image;
  margin: 0 auto;
}

.podcast-title-image img {
  border-radius: 8%;
}

.podcast-title {
  grid-area: title;
  font: clamp(14px, 3.5vw, 40px) var(--primary-font);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.podcast-description {
  grid-area: description;
  font-size: clamp(12px, 2.2vw, 25px);
  font-family: PT Sans;
  max-width: 60ch;
  color: rgb(80, 80, 80);
}

.episode-preview {
  position: relative;
  margin: 15px 0;
  padding: 1rem;
  border-radius: 5px;
  background: #eeecec;
  color: rgb(51, 51, 51);
  overflow: hidden;
  transition: 0.05s ease-in-out;
  font-family: var(--primary-font);
  max-height: 170px;
}

.episode-preview.expanded,
.episode-preview.expanded:hover {
  max-height: 2000px;
  box-shadow: 0px 0px 4px black;
  transition: 0.3s ease-in-out;
}

.episode-preview:hover {
  box-shadow: 0px 0px 2px black;
  transition: 0.3s ease-in-out;
}

.episode-header.preview,
.episode-description.preview {
  cursor: pointer;
}

.episode-header.note-mode {
  padding: 5px;
  background: var(--gray-text);
  color: white;
}

.episode-title {
  font-size: 1.4rem;
  font-weight: 400;
  width: 90%;
  grid-area: episode-title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.episode-description {
  position: relative;
  height: 100%;
}

.episode-description.preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    #eeecec00 0%,
    #eeececb4 20%,
    var(--gray-background)
  );
}

.episode-description.expanded::after {
  background: transparent;
}

.episode-description p {
  margin: 10px 0 10px 0;
  overflow: hidden;
  display: inline-block;
  width: calc(100%);
}

.episode-description.note-mode {
  overflow-y: auto;
  font-weight: 300;
}

.episode-icons-container {
  display: flex;
  margin-top: 0.3rem;
  font-style: italic;
}

.episode-icon {
  height: 1rem;
  margin: 0 0.5rem 0 1rem;
}

.note-icon {
  height: 30px;
  width: 30px;
}

.expand-contract-bttn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.episode {
  position: relative;
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: rgb(51, 51, 51);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.308);
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.episode-center {
  height: calc(100% - 200px);
}

.audio-player {
  width: 100%;
  max-height: 130px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 25px 10px;
  border-radius: 10px;
  border: 3px solid var(--gray-text);
  background: rgb(48, 46, 46);
  z-index: 2;
}

.audio-player.note-mode {
  position: absolute;
  bottom: 0;
  border: none;
  border-radius: 0;
}

.audio-player svg {
  height: 40px;
  cursor: pointer;
  overflow: visible;
  stroke: white;
}

line {
  stroke-linecap: round;
}

.audio-player input {
  width: 100%;
  margin: 0px;
  cursor: pointer;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  max-width: 225px;
}

.play-pause-button {
  overflow: visible;
}
.play-pause-button line {
  stroke: white;
  stroke-width: 5px;
}

.jump-button {
  position: relative;
  cursor: pointer;
}

.audio-player-times {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
  color: var(--gray-background);
  position: relative;
  font-size: 1.1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-image: linear-gradient(#00f7ff, #55838b);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: radial-gradient(lightblue 60%, white);
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.footer {
  padding: 0 0.5rem 0 0.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.notepad {
  height: 100%;
  overflow: hidden;
}

.notepad-buttons {
  background: gray;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
}

.menu-hamburger {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: calc(50% - 20px);
}

.menu-hamburger svg {
  overflow: visible;
  filter: drop-shadow(0px 1px 1px #000);
}

.menu-hamburger path {
  transition: 0.3s ease-in-out;
}

.scroller-container {
  width: 90vw;
  margin: 10px auto;
}

.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroller-podcasts {
  display: flex;
}

@media screen and (max-width: 860px) {
  .episode-center {
    height: calc(100% - 150px);
  }
  .audio-player {
    padding: 15px 5px 10px 5px;
  }
  .audio-player svg {
    height: 28px;
  }
  .audio-controls {
    max-width: 170px;
  }
  .audio-player-times {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .auth-forms {
    display: block;
    width: 350px;
  }
  .user-icon-container {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .podcast-preview-tiles {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .podcast-title-grid {
    grid-template-areas: "image" "title" "description";
    row-gap: 8px;
  }
  .episode {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .episode-center {
    height: calc(100% - 150px);
  }
  .audio-player {
    padding: 15px 5px 10px 5px;
  }
  .audio-player svg {
    height: 28px;
  }
  .audio-controls {
    max-width: 170px;
  }
  .audio-player-times {
    margin: 0;
  }
}
