*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #ffffff;
}

#root {
  height: 100%;
  --primary-font: "Montserrat";
  --text-font: "Righteous";
  --gray-text: #505050;
  --gray-background: #eeecec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
  overflow-x: hidden;
  font-family: Montserrat;
  /* font-family: Laksaman Bold; */
  /* font-family: Liberation Sans; */
  /* font-family: Meera; */
  scroll-behavior: smooth;
}

.app-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-title {
  text-align: center;
  font-size: calc(28px + 2vmin);
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgb(0, 0, 0);
  border-bottom: 1px solid rgba(204, 182, 182, 0.774);
  background: #fff;
}

ul {
  list-style: none;
}

.home {
  display: flex;
  height: fit-content;
}

.genre-nav {
  position: relative;
  width: 25%;
  max-width: 400px;
  background: var(--gray-background);
  color: var(--gray-text);
  padding: 2rem 1rem 1rem 1rem;
}

.genre-nav h2 {
  font-weight: 400;
  font-size: 2.2rem;
}

.genre-list {
  margin-top: 1rem;
}

.genre-list li {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: var(--primary-font);
  transition: 0.2s;
}

.genre-list li:hover {
  transform: scale(1.1);
  transform-origin: 0;
  color: #000;
}

.home-podcast-list-container {
  width: 75%;
  height: 100%;
}

.home-podcast-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 1rem;
}

.podcast-preview {
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.podcast-preview-image {
  width: 100%;
  height: 100%;
}

.podcast-preview img {
  width: 100%;
  height: auto;
}

.podcast-preview-info {
  font-size: 0.6rem;
}

.podcast {
  padding: 2rem;
  width: 100vw;
  max-width: 1100px;
  margin: 0 auto;
}

.podcast-title-grid {
  display: grid;
  justify-content: center;
  column-gap: 20px;
  grid-template-areas:
    "image title title title"
    "image description description description";
}

.podcast-title-image {
  grid-area: image;
  margin: 0 auto;
}

.podcast-title-image img {
  border-radius: 8%;
}

.podcast-title {
  grid-area: title;
  font: clamp(14px, 3.5vw, 40px) var(--primary-font);
}

.podcast-description {
  grid-area: description;
  font-size: clamp(12px, 2.2vw, 25px);
  font-family: PT Sans;
  max-width: 45ch;
  color: rgb(80, 80, 80);
}

.episode {
  position: relative;
  margin: 15px 0;
  padding: 1rem;
  background: #eeecec;
  color: rgb(51, 51, 51);
  overflow: hidden;
  transition: 0.05s ease-in-out;
  font-family: var(--primary-font);
  max-height: 170px;
}

.episode.selected,
.episode.selected:hover {
  max-height: 2000px;
  box-shadow: 0px 0px 4px black;
  transition: 0.3s ease-in-out;
}

.episode:hover {
  box-shadow: 0px 0px 2px black;
  transition: 0.3s ease-in-out;
}

.episode-top {
  cursor: pointer;
}

.episode-title {
  font-size: 1.4rem;
  font-weight: 400;
  width: 90%;
}

.episode-description {
  position: relative;
  height: 100%;
}

.episode-description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    #eeecec00 0%,
    #eeececb4 20%,
    var(--gray-background)
  );
}

.episode-description.selected::after {
  background: transparent;
}

.episode-description p {
  margin: 10px 0 10px 0;
  overflow: hidden;
  display: inline-block;
  width: calc(100%);
}

.episode-icons-container {
  display: flex;
  margin: 0.3rem 0 0.5rem 0;
  font-style: italic;
}

.episode-icon {
  height: 1rem;
  margin: 0 0.5rem 0 1rem;
}

.note-icon {
  width: 30px;
}

.expand-contract-bttn {
  width: fit-content;
  height: auto;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.episode-expanded {
  position: relative;
  margin: 15px 0;
  padding: 1rem;
  color: rgb(51, 51, 51);
  overflow: hidden;
  transition: 0.05s ease-in-out;
  background: var(--gray-background);
}

.audio-player {
  display: flex;
  flex-wrap: wrap;
  border-radius: 14px;
  padding: 25px 10px;
  border: 5px solid rgb(48, 48, 48);
  background: var(--gray-text);
}

.audio-player svg {
  cursor: pointer;
}

line {
  stroke-linecap: round;
}

.audio-player input {
  width: 100%;
  margin: 0px;
  cursor: pointer;
}

.audio-controls {
  display: flex;
}

.pause-play-button {
  overflow: visible;
}

.jump-button {
  position: relative;
  cursor: pointer;
}

.jump-button.back {
  margin: 0 50px;
}

.jump-button.forward {
  margin: 0 45px;
}

.jump-button svg {
  overflow: visible;
}

.audio-player-times {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px 0;
  color: white;
  position: relative;
  font-size: 1.1rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-image: linear-gradient(#00f7ff, #55838b);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: radial-gradient(lightblue 60%, white);
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.footer {
  padding: 0 0 1rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu-hamburger {
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: calc(50% - 20px);
}

.menu-hamburger svg {
  overflow: visible;
  filter: drop-shadow(0px 1px 1px #000);
}

.menu-hamburger path {
  transition: 0.3s ease-in-out;
}

.scroller-container {
  width: 90vw;
  margin: 10px auto;
}

.scroller {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroller-podcasts {
  display: flex;
}

@media screen and (max-width: 600px) {
  .podcast-title-grid {
    grid-template-areas: "image" "title" "description";
    row-gap: 8px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
  .genre-nav {
    display: none;
  }
  .home-podcast-list-container {
    width: 100%;
  }
  .home-podcast-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .note-icon {
    width: 20px;
  }
}
